[package]
name = "shooter"
version = "0.1.0"
authors = ["Aunmag <aunmag@gmail.com>"]
edition = "2018"

[dependencies]
amethyst = { version = "0.15.1", features = ["vulkan", "tiles"] }
bimap = "0.5"
bincode = "1.3"
bitflags = "1.2"
log = "0.4"
rand = "0.8"
rand_pcg = "0.3"
serde = { version = "1.0", features = ["derive"] }
