#![enable(implicit_some)]
Container(
    transform: (
        id: "home",
        hidden: true,
        opaque: false,
        stretch: XY(
            x_margin: 0.0,
            y_margin: 0.0,
            keep_aspect_ratio: false,
        ),
    ),
    children: [
        Container(
            transform: (
                id: "home.wallpaper",
                z: 0.5,
                width: 1.0,
                height: 1.0,
                opaque: false,
            ),
            background: Texture(File("wallpapers/home.png", ("IMAGE", (
                sampler_info: (
                    // TODO: Copy-pasted config, I don't know what most of these parameters do, keep them as defaults, don't modify unnecessary since I need only nearest stretching
                    min_filter: Nearest,
                    mag_filter: Nearest,
                    mip_filter: Nearest,
                    wrap_mode: (Tile, Tile, Tile),
                    lod_bias: (0),
                    lod_range: (
                        start: ( 0 ),
                        end: ( 8000 ),
                    ),
                    comparison: None,
                    border: (0),
                    normalized: true,
                    anisotropic: Off,
                ),
            )))),
            children: [],
        ),
        Container(
            transform: (
                z: 1.0,
                opaque: false,
                stretch: XY(
                    x_margin: 0.0,
                    y_margin: 0.0,
                    keep_aspect_ratio: false,
                ),
            ),
            background: Texture(Generate(Srgba(0.2, 0.2, 0.2, 0.8))),
            children: [
                Container(
                    transform: (
                        width: 1.0,
                        height: 1.0,
                        opaque: false,
                        stretch: XY(
                            x_margin: 0.0,
                            y_margin: 0.0,
                            keep_aspect_ratio: true,
                        ),
                    ),
                    children: [
                        Label(
                            transform: (
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.0,
                                y: -0.3,
                                width: 1.0,
                                height: 0.05,
                                opaque: false,
                            ),
                            text: (
                                text: "A Zombie Shooter Game",
                                font: File("fonts/bold.ttf", ("TTF", ())),
                                font_size: 32.0,
                                color: (0.8, 0.8, 0.8, 1.0),
                            )
                        ),
                        Button(
                            transform: (
                                id: "home.continue",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.35,
                                y: -0.45,
                                width: 0.3,
                                height: 0.05,
                            ),
                            button: (
                                text: "Continue",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 26.0,
                                normal_text_color: (0.8, 0.8, 0.8, 1.0),
                                hover_text_color: (0.6, 0.6, 0.6, 1.0),
                            )
                        ),
                        Button(
                            transform: (
                                id: "home.new_game",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.35,
                                y: -0.5,
                                width: 0.3,
                                height: 0.05,
                            ),
                            button: (
                                text: "New Game",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 26.0,
                                normal_text_color: (0.8, 0.8, 0.8, 1.0),
                                hover_text_color: (0.6, 0.6, 0.6, 1.0),
                            )
                        ),
                        Button(
                            transform: (
                                id: "home.disconnect",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.35,
                                y: -0.5,
                                width: 0.3,
                                height: 0.05,
                            ),
                            button: (
                                text: "Disconnect",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 26.0,
                                normal_text_color: (0.8, 0.8, 0.8, 1.0),
                                hover_text_color: (0.6, 0.6, 0.6, 1.0),
                            )
                        ),
                        Button(
                            transform: (
                                id: "home.settings",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.35,
                                y: -0.55,
                                width: 0.3,
                                height: 0.05,
                            ),
                            button: (
                                text: "Settings",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 26.0,
                                normal_text_color: (0.8, 0.8, 0.8, 1.0),
                                hover_text_color: (0.6, 0.6, 0.6, 1.0),
                            )
                        ),
                        Button(
                            transform: (
                                id: "home.help",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.35,
                                y: -0.6,
                                width: 0.3,
                                height: 0.05,
                            ),
                            button: (
                                text: "Help",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 26.0,
                                normal_text_color: (0.8, 0.8, 0.8, 1.0),
                                hover_text_color: (0.6, 0.6, 0.6, 1.0),
                            )
                        ),
                        Button(
                            transform: (
                                id: "home.quit",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.35,
                                y: -0.65,
                                width: 0.3,
                                height: 0.05,
                            ),
                            button: (
                                text: "Quit",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 26.0,
                                normal_text_color: (0.8, 0.8, 0.8, 1.0),
                                hover_text_color: (0.6, 0.6, 0.6, 1.0),
                            )
                        ),
                        Label(
                            transform: (
                                anchor: TopLeft,
                                pivot: TopLeft,
                                percent: true,
                                x: 0.0,
                                y: -0.9,
                                width: 1.0,
                                height: 0.05,
                                opaque: false,
                            ),
                            text: (
                                text: "v0.2.0",
                                font: File("fonts/regular.ttf", ("TTF", ())),
                                font_size: 12.0,
                                color: (0.8, 0.8, 0.8, 0.3),
                            )
                        ),
                    ],
                ),
            ],
        )
    ],
)
