(
    axes: {
        MovementForward: Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        MovementAside: Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {
        Attack: [[Mouse(Left)]],
    },
)
