(
    axes: {
        MoveForward: Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        MoveAside: Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {},
)
