(
    axes: {},
    actions: {
        "move_forward": [[Key(W)]],
        "move_backwards": [[Key(S)]],
        "move_left": [[Key(A)]],
        "move_right": [[Key(D)]],
        "rotate_left": [[Key(Q)]],
        "rotate_right": [[Key(E)]],
    },
)
