/*!
    @import /amethyst_rendy/src/sprite/mod.rs#Sprites
    Sprites
*/

List((
    texture_width: 17,
    texture_height: 46,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 17,
            height: 46,
            offsets: Some((0.5, -14.0))
        ),
    ],
))
